@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');

h1 {
  font-family: 'Rubik', sans-serif;
  font-size: 35px;
}

h5 {
  text-align: justify;
  font-family: 'Space Grotesk', sans-serif;
  font-size: 19px;
}